<div class="container">
    <div class="card card-body">
      <div>
        <h2 class="title">Class Name: <%= classes.className %></h2>
        <p id="classID" ><%= classes._id %></p>
        <form class="form-inline mb-4" id="search">
    </div>
        </form> 
        <h3 class="title">Student List</h3>
    
        <table class="table table-hover">
            <thead> 
              <tr class="table-danger">
                <th scope="row">_id</th>
                <th scope="col">Name</th>
                <th scope="col">Student ID</th>
                <th>Action</th>
              </tr>
            </thead>
            <!-- EJS LIST OF USER  -->
            <% if(typeof userinfo!= 'undefined') { %> 
                <% userinfo.forEach((user)=>{ %>
                    <tbody>
                        <tr>
                          <th scope="row"><%= user._id %> %> </th>
                          <td><%= user.name %></td>
                          <td><%= user.id %></td>
                          <td>
                            <button onclick="thisuser(this)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmbtn">
                                <i class="far fa-hand-pointer"></i>
                              </button>
                          </td>
                        </tr>
                      </tbody>
                <%}) %>  
            <% } %> 
            <!-- END -->
          </table>
        <br>
        <!-- Modal -->
        <div class="modal fade" id="confirmbtn" tabindex="-1" aria-labelledby="confirmbtn" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirm">Confirm Your Action</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to add this student to you class? 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submit_btn">Save changes</button>
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>   
</div>

<script>
    var _id, stu_id, stu_name;

    function thisuser(data) {
        
        //GETTING STUDENT INFORMATION
        _id = data.parentElement.parentElement.cells[0].innerHTML;
        stu_name = data.parentElement.parentElement.cells[1].innerHTML; 
        stu_id = data.parentElement.parentElement.cells[2].innerHTML;

        //GETTING CLASS ID
        const classID = document.getElementById('classID').innerText;

        document.getElementById('submit_btn').addEventListener('click', async (event)=>{
            event.preventDefault();

            const options = {
            method: 'POST',
            headers: { 
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({_id, stu_name, stu_id, classID})
          }
          const req = await fetch('/teacher/add-student-to-class', options)
  
          const data = await req.json();

          console.log(data);

        })
    }
</script>